.p-Home.TextBox28.bpt{
    background-image: linear-gradient(to right, #b16cea 8%,
     #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
}
.p-Home.TextBox39.bpt{
    background-image: linear-gradient(to right, #b16cea 8%,
     #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
}
.p-Home.TextBox52.bpt{
    background-image: linear-gradient(to right, #b16cea 8%,
     #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    
}
.p-Home.TextBox65.bpt{
    background-image: linear-gradient(to right, #b16cea 8%,
     #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    
}
.p-Home.TextBox70.bpt{
    background-image: linear-gradient(to right, #b16cea 8%,
     #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    
}
.p-Home.TextBox73.bpt{
    background-image: linear-gradient(to right, #b16cea 8%,
     #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    
}
.p-Home.TextBox79.bpt{
    background-image: linear-gradient(to right, #b16cea 8%,
     #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    
}
.p-Home.TextBox81.bpt{
    background-image: linear-gradient(to right, #b16cea 8%,
     #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    
}
.p-Home.Button6.bpt{
    background-image: linear-gradient(108deg, #b16cea 8%,
    #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    background-color: #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%;
}
.p-Home.Button8.bpt{
    background-image: linear-gradient(108deg, #b16cea 8%,
    #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    background-color: #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%;
}
